<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheme</key>
	<string>https</string>
	<key>host</key>
	<string>api.themoviedb.org</string>
	<key>path</key>
	<string>/3/</string>
	<key>api_key</key>
	<string>1f54bd990f1cdfb230adb312546d765d</string>
	<key>upcoming</key>
	<string>movie/upcoming</string>
	<key>topRated</key>
	<string>movie/top_rated</string>
	<key>popular</key>
	<string>movie/popular</string>
	<key>playingNow</key>
	<string>movie/now_playing</string>
	<key>trailers</key>
	<string>movie/{id}/videos</string>
	<key>detail</key>
	<string>movie/{id}</string>
</dict>
</plist>
